{#
/**
 * @file
 * Default theme implementation to present drupal versions.
 *
 * Available variables:
 * - last_stable_release: An array with last stable release info.
 * - last_minor_release: An array with last minor release info.
 *
 * @see template_preprocess_druki_drupal_versions()
 */
#}
{{ attach_library('loremaster/component.theme.drupal-versions') }}
{% set block = 'drupal-versions' %}
{%
  set classes = [
    bem(block),
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="{{ bem(block, 'title') }}">{{ 'Actual versions'|t }}</div>

  <a href="/wiki/9/releases/{{ last_minor_release.version }}" class="{{ bem(block, 'info') }}">
    <div class="{{ bem(block, 'version') }}">{{ last_minor_release.version }}</div>
    <div class="{{ bem(block, 'type') }}">{{ 'Minor release'|t }} {{ 'from'|t }} {{ last_minor_release.date|date('d.m.Y') }}</div>
  </a>

  {% set is_security_update = 'Security update' in last_stable_release.terms['Release type'] %}
  <a href="/wiki/9/releases/{{ last_stable_release.version }}" class="{{ bem(block, 'info') }}">
    <div class="{{ bem(block, 'version') }}">
      {{ last_stable_release.version }}
      {% if is_security_update %}
        <span class="{{ bem(block, 'security-update') }}">⚠️ {% trans %}security update{% endtrans %}</span>
      {% endif %}
    </div>
    <div class="{{ bem(block, 'type') }}">{{ 'Patch release'|t }} {{ 'from'|t }} {{ last_stable_release.date|date('d.m.Y') }}</div>
  </a>

  <div class="{{ bem(block, 'title') }}">{{ 'In development'|t }}</div>

  <a href="/wiki/9/releases/9.3.0" class="{{ bem(block, 'info') }}">
    <div class="{{ bem(block, 'version') }}">9.3.0</div>
    <div class="{{ bem(block, 'type') }}">{{ 'Minor release'|t }}</div>
  </a>

  <a href="/wiki/9/releases" class="{{ bem(block, 'all') }}">{{ 'Full list of releases'|t }}</a>
</div>
