{#
/**
 * @file
 * Default theme implementation to present content TOC.
 *
 * Available variables:
 * - toc: The array with link for TOC.
 * - links: An heierarchical array tree with TOC links, contains:
 *   - heading: The TableOfContentsHeading element.
 *   - children: An array with children TOC links.
 */
#}
{{ attach_library('druki_content/toc') }}

{% import _self as toc_builder %}
{% set bem_block = 'toc' %}

<div{{ attributes.addClass(bem_block) }}>
  {% set bem_base = bem_block ~ '__' %}
  {% do attributes.removeClass(bem_block) %}
  {{ toc_builder.links(links, 0, bem_base) }}
</div>

{% macro links(links, toc_level, block_base) %}
  {% import _self as toc_builder %}
  {% set attributes = create_attribute() %}
  {% set counter_list_block = 'counter-list' %}
  {%
    set classes = [
      bem(counter_list_block),
      bem(block_base, toc_level == 0 ? 'menu' : 'submenu'),
    ]
  %}
  <ul{{ attributes.addClass(classes) }}>
    {% for item in links %}
      {% set item_attributes = create_attribute() %}
      {%
        set item_classes = [
          bem(counter_list_block, 'item'),
          bem(block_base, 'item'),
        ]
      %}
      <li{{ item_attributes.addClass(item_classes) }}>
        {% set link_attributes = create_attribute() %}
        {%
          set link_classes = [
            bem(counter_list_block, 'link'),
            bem(block_base, 'link'),
          ]
        %}
        <a href="#{{ item.heading.getText|druki_anchor('druki_content', 2) }}" {{ link_attributes.addClass(link_classes).setAttribute('title', item.heading.getText) }}>{{ item.heading.getText }}</a>
        {% if item.children %}
          {{ toc_builder.links(item.children, item.heading.getLevel + 1, block_base) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
