{#
/**
 * @file
 * Default theme implementation to present druki /docs page.
 */
#}
{% set bem_block = 'druki-page-docs' %}
<div{{ attributes.addClass(bem_block) }}>
  <header class="{{ bem_block }}__header">
    <h1 class="{{ bem_block }}__title">
      Документация Drupal
    </h1>

    <h2 class="{{ bem_block }}__subtitle">
      One page to rule them all.
    </h2>
  </header>

  <div class="{{ bem_block }}__row">
    <h2 class="{{ bem_block }}__row-title">
      Познакомьтесь с Drupal
    </h2>

    <div class="{{ bem_block }}__row-description">
      <p>
        Если вы не знакомы с Drupal, начните с общей информации. Узнайте, что такое Drupal, какое его текущее состояние, какие принципы и ценности у нашего сообщества, а также, познакомьтесь с нами.
      </p>
    </div>

    <div class="{{ bem_block }}__row-content">
      <div class="{{ bem_block }}__box-links">
        <a href="/docs/drupal" class="{{ bem_block }}__box-links-item">
          <h3 class="{{ bem_block }}__box-links-item-title">
            Что такое Drupal?
          </h3>

          <div class="{{ bem_block }}__box-links-item-description">
            Узнайте, что такое Drupal и для чего он нужен.
          </div>
        </a>

        <a href="/docs/the-drupal-way" class="{{ bem_block }}__box-links-item">
          <h3 class="{{ bem_block }}__box-links-item-title">
            Философия Drupal
          </h3>

          <div class="{{ bem_block }}__box-links-item-description">
            Принципы и ценности нашего сообщества.
          </div>
        </a>

        <a href="/docs/code-of-conduct" class="{{ bem_block }}__box-links-item">
          <h3 class="{{ bem_block }}__box-links-item-title">
            Нормы поведения
          </h3>

          <div class="{{ bem_block }}__box-links-item-description">
            Набор идей, направленных на хорошее поведение в сообществе.
          </div>
        </a>

        <a href="/docs/community" class="{{ bem_block }}__box-links-item">
          <h3 class="{{ bem_block }}__box-links-item-title">
            Сообщество
          </h3>

          <div class="{{ bem_block }}__box-links-item-description">
            Узнайте о нашем сообществе больше, и как с нами связаться.
          </div>
        </a>
      </div>

      <div class="{{ bem_block }}__faq">
        Не нашли ответов на свои вопросы? Ознакомьтесь с <a href="/docs/faq">часто задаваемыми вопросами</a>, возможно, мы уже ответили на ваш вопрос.
      </div>
    </div>
  </div>

  <div class="{{ bem_block }}__row">
    <h2 class="{{ bem_block }}__row-title">
      Делаем первые шаги вместе
    </h2>

    <div class="{{ bem_block }}__row-description">
      <p>
        Решились попробовать Drupal? Похвально! У вас определенно возникнут трудности в процессе обучения. Ознакомтесь с некоторыми базовыми материалами, которые помогут вам преодолеть свои первые преграды. И не забывайте про наше сообщество, мы всегда рады новым лицам и готовы помочь вам в этом не простом пути.
      </p>
    </div>

    <div class="{{ bem_block }}__row-content">
      <div class="{{ bem_block }}__box-links">
        <a href="/docs/composer" class="{{ bem_block }}__box-links-item">
          <h3 class="{{ bem_block }}__box-links-item-title">
            Composer
          </h3>

          <div class="{{ bem_block }}__box-links-item-description">
            То, с чем лучше познакомиться раньше чем с Drupal.
          </div>
        </a>

        <a href="/download" class="{{ bem_block }}__box-links-item">
          <h3 class="{{ bem_block }}__box-links-item-title">
            Скачайте Drupal
          </h3>

          <div class="{{ bem_block }}__box-links-item-description">
            А как иначе?
          </div>
        </a>

        <a href="/docs/8/installation" class="{{ bem_block }}__box-links-item">
          <h3 class="{{ bem_block }}__box-links-item-title">
            Установите Drupal
          </h3>

          <div class="{{ bem_block }}__box-links-item-description">
            Настало время поздороваться с Drupal.
          </div>
        </a>

        <a href="/docs/8/admin" class="{{ bem_block }}__box-links-item">
          <h3 class="{{ bem_block }}__box-links-item-title">
            Административный интерфейс
          </h3>

          <div class="{{ bem_block }}__box-links-item-description">
            Ваш командный центр управления Drupal.
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="{{ bem_block }}__row">
    <h2 class="{{ bem_block }}__row-title">
      Растите вместе с Drupal
    </h2>

    <div class="{{ bem_block }}__row-description">
      <p>
        Установили Drupal? Круто! Вы уже проделали не малый путь, и определенно узнали что-то новое, но после установки, скорее всего, назрели вопросы: "С чего начать?", "Куда двигаться дальше?" — в этом разделе собран основной арсенал Drupal. Вы не только начнете узнавать всё больше и глубже, но и, мы надеемся, будете улучшать свои навыки.
      </p>
    </div>

    <div class="{{ bem_block }}__row-content">
      <div class="{{ bem_block }}__box-links">
        <a href="/docs/8/modules" class="{{ bem_block }}__box-links-item">
          <h3 class="{{ bem_block }}__box-links-item-title">
            Модули
          </h3>

          <div class="{{ bem_block }}__box-links-item-description">
            Расширяйте, изменяйте и модифицируйте Drupal.
          </div>
        </a>

        <a href="/docs/8/themes" class="{{ bem_block }}__box-links-item">
          <h3 class="{{ bem_block }}__box-links-item-title">
            Темы оформления
          </h3>

          <div class="{{ bem_block }}__box-links-item-description">
            Оформите свой сайт, как вам угодно.
          </div>
        </a>

        <a href="/docs/8/routing" class="{{ bem_block }}__box-links-item">
          <h3 class="{{ bem_block }}__box-links-item-title">
            Маршрутизация
          </h3>

          <div class="{{ bem_block }}__box-links-item-description">
            Создавайте свои собственные страницы, с уникальным поведением.
          </div>
        </a>

        <a href="/docs/8/plugins" class="{{ bem_block }}__box-links-item">
          <h3 class="{{ bem_block }}__box-links-item-title">
            Плагины
          </h3>

          <div class="{{ bem_block }}__box-links-item-description">
            Расширяйте и используйте возможности других модулей.
          </div>
        </a>

        <a href="/docs/8/hooks" class="{{ bem_block }}__box-links-item">
          <h3 class="{{ bem_block }}__box-links-item-title">
            Хуки (hooks)
          </h3>

          <div class="{{ bem_block }}__box-links-item-description">
            Внедряйтесь на различных этапах рабоыт системы, влияйте на поведение и результат.
          </div>
        </a>

        <a href="/docs/8/services" class="{{ bem_block }}__box-links-item">
          <h3 class="{{ bem_block }}__box-links-item-title">
            Сервисы
          </h3>

          <div class="{{ bem_block }}__box-links-item-description">
            Создавайте объекты с Dependency Injection.
          </div>
        </a>

        <a href="/docs/8/libraries-api" class="{{ bem_block }}__box-links-item">
          <h3 class="{{ bem_block }}__box-links-item-title">
            Libraries API
          </h3>

          <div class="{{ bem_block }}__box-links-item-description">
            Подключайте JavaScript и CSS на страницы правильно.
          </div>
        </a>

        <a href="/docs/8/form-api" class="{{ bem_block }}__box-links-item">
          <h3 class="{{ bem_block }}__box-links-item-title">
            Form API
          </h3>

          <div class="{{ bem_block }}__box-links-item-description">
            Создавайте формы, валидируйте, изменяйте, расширяйте.
          </div>
        </a>
      </div>
    </div>

    <div class="{{ bem_block }}__row">
      <div class="{{ bem_block }}__other-items">
        <div class="{{ bem_block }}__other-item">
          <div class="{{ bem_block }}__other-item-title">Полезная информация</div>

          <ul class="{{ bem_block }}__other-item-items">
            <li class="{{ bem_block }}__other-item-item">
              <a href="/docs/standards">Стандарты кодирования Drupal</a>
            </li>
            <li class="{{ bem_block }}__other-item-item">
              <a href="/docs/8/changelog">Список изменений</a>
            </li>
            <li class="{{ bem_block }}__other-item-item">
              <a href="/docs/security">Объявления безопасности</a>
            </li>
            <li class="{{ bem_block }}__other-item-item">
              <a href="/docs/9">Drupal 9</a>
            </li>
          </ul>
        </div>

        <div class="{{ bem_block }}__other-item">
          <div class="{{ bem_block }}__other-item-title">CLI утилиты</div>

          <ul class="{{ bem_block }}__other-item-items">
            <li class="{{ bem_block }}__other-item-item">
              <a href="/docs/composer">Composer</a>
            </li>
            <li class="{{ bem_block }}__other-item-item">
              <a href="/docs/drush">Drush</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
