{% set bem_block = 'druki-page-download' %}
<div{{ attributes.addClass(bem_block) }}>
  <h1 class="{{ bem_block }}__title">Скачать Drupal</h1>
  <h2 class="{{ bem_block }}__subtitle">
    Всего одна команда отделяет вас от Drupal 🚀
  </h2>

  <div class="{{ bem_block }}__command-pane">
    <span class="{{ bem_block }}__command">
      composer create-project drupal-composer/drupal-project:8.x-dev <strong>my_new_site</strong> -n
    </span>
  </div>

  <div class="{{ bem_block }}__command-note">
    <p>Узнайте больше о <a href="/docs/composer">Composer</a> и <a href="/docs/composer-drupal-project">Composer Drupal
        Project</a>. Возникли сложности? Обратитесь к <a href="/docs/8/installation">руководству по
        установке</a>.</p>
  </div>

  <div class="{{ bem_block }}__cards">
    <div class="{{ bem_block }}__card">
      <div class="{{ bem_block }}__card-icon {{ bem_block }}__card-icon--try"></div>
      <h3 class="{{ bem_block }}__card-title">
        Демо-сайт на Drupal
      </h3>
      <div class="{{ bem_block }}__card-text">
        <p>Самый быстрый способ познакомиться и попробовать Drupal.</p>
      </div>
      <div class="{{ bem_block }}__card-bottom">
        <a href="/docs/simplytest" class="{{ bem_block }}__card-link">
          Попробовать Drupal
        </a>
      </div>
    </div>

    <div class="{{ bem_block }}__card">
      <div class="{{ bem_block }}__card-icon {{ bem_block }}__card-icon--update"></div>
      <h3 class="{{ bem_block }}__card-title">
        Следите за обновлениями
      </h3>
      <div class="{{ bem_block }}__card-text">
        <p>Не упустите новые возможности Drupal, а также, предоставьте сайту
          максимальную защиту.</p>
      </div>
      <div class="{{ bem_block }}__card-bottom">
        <a href="/docs/8/changelog" class="{{ bem_block }}__card-link">
          Список изменений
        </a>
      </div>
    </div>

    <div class="{{ bem_block }}__card">
      <div class="{{ bem_block }}__card-icon {{ bem_block }}__card-icon--open-source"></div>
      <h3 class="{{ bem_block }}__card-title">
        Бесплатный, с открытым исходным кодом
      </h3>
      <div class="{{ bem_block }}__card-text">
        <p>Вы можете использовать Drupal, как для личных, так и для коммерчиских проектов. Никаких отчислений и подписок!</p>
      </div>
    </div>

    <div class="{{ bem_block }}__card">
      <div class="{{ bem_block }}__card-icon {{ bem_block }}__card-icon--source-code"></div>
      <h3 class="{{ bem_block }}__card-title">
        Исходный код Drupal
      </h3>
      <div class="{{ bem_block }}__card-text">
        <p>Разработка Drupal ведется открыто и доступна для всех.</p>
      </div>
      <div class="{{ bem_block }}__card-bottom">
        <a href="https://git.drupalcode.org/project/drupal" class="{{ bem_block }}__card-link">
          Смотреть исходный код
        </a>
      </div>
    </div>

    <div class="{{ bem_block }}__card">
      <div class="{{ bem_block }}__card-icon {{ bem_block }}__card-icon--community"></div>
      <h3 class="{{ bem_block }}__card-title">
        Присоединяйтесь к сообществу
      </h3>
      <div class="{{ bem_block }}__card-text">
        <p>Мы всегда рады новым лицам в сообществе!</p>
      </div>
      <div class="{{ bem_block }}__card-bottom">
        <a href="/docs/community" class="{{ bem_block }}__card-link">
          Узнать о сообществе
        </a>
      </div>
    </div>

    <div class="{{ bem_block }}__card">
      <div class="{{ bem_block }}__card-icon {{ bem_block }}__card-icon--talk"></div>
      <h3 class="{{ bem_block }}__card-title">
        Скажите, Привет!
      </h3>
      <div class="{{ bem_block }}__card-text">
        <p>Подключайтесь к чатам — здесь вам помогут и ответят на интересующие вопросы.</p>
      </div>
      <div class="{{ bem_block }}__card-bottom">
        <a href="/docs/community/resources" class="{{ bem_block }}__card-link">
          Интернет-ресурсы сообщества
        </a>
      </div>
    </div>
  </div>
</div>
