{#
/**
 * @file
 * Default theme implementation to present druki /download page.
 */
#}
{% set bem_block = 'druki-page-download' %}
<div{{ attributes.addClass(bem_block) }}>
  <header class="{{ bem_block }}__head">
    <h1 class="{{ bem_block }}__title">Загрузить Drupal</h1>
    <h2 class="{{ bem_block }}__subtitle">
      Всего одна команда отделяет вас от Drupal 🚀
    </h2>

    <div class="{{ bem_block }}__command-pane">
    <span class="{{ bem_block }}__command">
      composer -n create-project drupal/recommended-project:^8.8@dev <strong>my_new_site</strong>
    </span>
    </div>

    <div class="{{ bem_block }}__command-note">
      <p>Узнайте больше о <a href="/wiki/composer">Composer</a> и шаблонах проектов. Возникли сложности в процессе установки? Обратитесь к <a href="/wiki/8/installation">руководству по
          установке</a>.</p>
    </div>
  </header>

  <div class="{{ bem_block }}__cards">
    {{ {
      '#type': 'druki_card',
      '#title': 'Демо-сайт на Drupal',
      '#subhead': 'Попробуйте Drupal онлайн',
      '#supporting_text': 'Самый быстрый способ познакомиться и попробовать Drupal.',
      '#style': 'outlined',
      '#primary_url': '/wiki/simplytest',
    } }}

    {{ {
      '#type': 'druki_card',
      '#title': 'Следите за обновлениями',
      '#supporting_text': 'Не упустите новые возможности Drupal, а также, предоставьте сайту
          максимальную защиту.',
      '#style': 'outlined',
      '#primary_url': '/wiki/8/releases',
    } }}

    {{ {
      '#type': 'druki_card',
      '#title': 'Бесплатный, с открытым исходным кодом',
      '#supporting_text': 'Вы можете использовать Drupal, как для личных, так и для коммерчиских проектов. Никаких отчислений и подписок!',
      '#style': 'outlined',
    } }}

    {{ {
      '#type': 'druki_card',
      '#title': 'Исходный код Drupal',
      '#supporting_text': 'Разработка Drupal ведется открыто и доступна для всех.',
      '#style': 'outlined',
      '#primary_url': 'https://git.drupalcode.org/project/drupal',
    } }}

    {{ {
      '#type': 'druki_card',
      '#title': 'Присоединяйтесь к сообществу',
      '#supporting_text': 'Мы всегда рады новым лицам в сообществе!',
      '#style': 'outlined',
      '#primary_url': '/wiki/community',
    } }}

    {{ {
      '#type': 'druki_card',
      '#title': 'Скажите, Привет!',
      '#supporting_text': 'Подключайтесь к чатам — здесь вам помогут и ответят на интересующие вопросы.',
      '#style': 'outlined',
      '#primary_url': '/wiki/community/resources',
    } }}
  </div>
</div>
