{#
/**
 * @file
 * Default theme implementation to present druki /wiki page.
 *
 * @todo refactor BEM classes to be more shorten.
 */
#}
{% set bem_block = 'druki-page-wiki' %}
<div{{ attributes.addClass(bem_block) }}>
  <header class="{{ bem_block }}__header">
    <h1 class="{{ bem_block }}__title">
      Drupal энциклопедия
    </h1>

    <h2 class="{{ bem_block }}__subtitle">
      One page to rule them all.
    </h2>
  </header>

  <div class="{{ bem_block }}__row">
    <h2 class="{{ bem_block }}__row-title">
      Познакомьтесь с Drupal
    </h2>

    <div class="{{ bem_block }}__row-description">
      <p>
        Если вы не знакомы с Drupal, начните с общей информации. Узнайте, что такое Drupal, какое его текущее состояние, какие принципы и ценности у нашего сообщества, а также, познакомьтесь с нами.
      </p>
    </div>

    <div class="{{ bem_block }}__row-content">
      <div class="{{ bem_block }}__cards">
        <div class="o-card {{ bem_block }}__card">
          <header class="o-card__header">
            <h5 class="o-card__title {{ bem_block }}__card-title">
              Что такое Drupal?
            </h5>
          </header>

          <div class="o-card__content {{ bem_block }}__card-content">
            <p>Узнайте, что такое Drupal и для чего он нужен.</p>
          </div>

          <div class="o-card__actions o-card__actions--divider">
            <a href="/wiki/drupal" class="{{ bem_block }}__card-link">
              Подробнее
            </a>
          </div>
        </div>

        <div class="o-card {{ bem_block }}__card">
          <header class="o-card__header">
            <h5 class="o-card__title {{ bem_block }}__card-title">
              Философия Drupal
            </h5>
          </header>

          <div class="o-card__content {{ bem_block }}__card-content">
            <p>Принципы и ценности нашего сообщества.</p>
          </div>

          <div class="o-card__actions o-card__actions--divider">
            <a href="/wiki/the-drupal-way" class="{{ bem_block }}__card-link">
              Подробнее
            </a>
          </div>
        </div>

        <div class="o-card {{ bem_block }}__card">
          <header class="o-card__header">
            <h5 class="o-card__title {{ bem_block }}__card-title">
              Нормы поведения
            </h5>
          </header>

          <div class="o-card__content {{ bem_block }}__card-content">
            <p>Набор идей, направленных на хорошее поведение в сообществе.</p>
          </div>

          <div class="o-card__actions o-card__actions--divider">
            <a href="/wiki/code-of-conduct" class="{{ bem_block }}__card-link">
              Подробнее
            </a>
          </div>
        </div>

        <div class="o-card {{ bem_block }}__card">
          <header class="o-card__header">
            <h5 class="o-card__title {{ bem_block }}__card-title">
              Сообщество
            </h5>
          </header>

          <div class="o-card__content {{ bem_block }}__card-content">
            <p>Узнайте о нашем сообществе больше, и как с нами связаться.</p>
          </div>

          <div class="o-card__actions o-card__actions--divider">
            <a href="/wiki/community" class="{{ bem_block }}__card-link">
              Подробнее
            </a>
          </div>
        </div>

        <div class="o-card {{ bem_block }}__card">
          <header class="o-card__header">
            <h5 class="o-card__title {{ bem_block }}__card-title">
              Мероприятия
            </h5>
          </header>

          <div class="o-card__content {{ bem_block }}__card-content">
            <p>DrupalCon, DrupalConf, DrupalCamp и прочие мероприятия.</p>
          </div>

          <div class="o-card__actions o-card__actions--divider">
            <a href="/wiki/events" class="{{ bem_block }}__card-link">
              Подробнее
            </a>
          </div>
        </div>
      </div>

      <div class="{{ bem_block }}__faq">
        Не нашли ответов на свои вопросы? Ознакомьтесь с <a href="/wiki/faq">часто задаваемыми вопросами</a>, возможно, мы уже ответили на ваш вопрос.
      </div>
    </div>
  </div>

  <div class="{{ bem_block }}__row">
    <h2 class="{{ bem_block }}__row-title">
      Делаем первые шаги вместе
    </h2>

    <div class="{{ bem_block }}__row-description">
      <p>
        Решились попробовать Drupal? Похвально! У вас определенно возникнут трудности в процессе обучения. Ознакомтесь с некоторыми базовыми материалами, которые помогут вам преодолеть свои первые преграды. И не забывайте про наше сообщество, мы всегда рады новым лицам и готовы помочь вам в этом не простом пути.
      </p>
    </div>

    <div class="{{ bem_block }}__row-content">
      <div class="{{ bem_block }}__cards">
        <div class="o-card {{ bem_block }}__card">
          <header class="o-card__header">
            <h5 class="o-card__title {{ bem_block }}__card-title">
              Composer
            </h5>
          </header>

          <div class="o-card__content {{ bem_block }}__card-content">
            <p>То, с чем лучше познакомиться раньше чем с Drupal.</p>
          </div>

          <div class="o-card__actions o-card__actions--divider">
            <a href="/wiki/composer" class="{{ bem_block }}__card-link">
              Подробнее
            </a>
          </div>
        </div>

        <div class="o-card {{ bem_block }}__card">
          <header class="o-card__header">
            <h5 class="o-card__title {{ bem_block }}__card-title">
              Скачайте Drupal
            </h5>
          </header>

          <div class="o-card__content {{ bem_block }}__card-content">
            <p>А как иначе?</p>
          </div>

          <div class="o-card__actions o-card__actions--divider">
            <a href="/download" class="{{ bem_block }}__card-link">
              Подробнее
            </a>
          </div>
        </div>

        <div class="o-card {{ bem_block }}__card">
          <header class="o-card__header">
            <h5 class="o-card__title {{ bem_block }}__card-title">
              Установите Drupal
            </h5>
          </header>

          <div class="o-card__content {{ bem_block }}__card-content">
            <p>Настало время поздороваться с Drupal.</p>
          </div>

          <div class="o-card__actions o-card__actions--divider">
            <a href="/wiki/8/installation" class="{{ bem_block }}__card-link">
              Подробнее
            </a>
          </div>
        </div>

        <div class="o-card {{ bem_block }}__card">
          <header class="o-card__header">
            <h5 class="o-card__title {{ bem_block }}__card-title">
              Административный интерфейс
            </h5>
          </header>

          <div class="o-card__content {{ bem_block }}__card-content">
            <p>Ваш командный центр управления Drupal.</p>
          </div>

          <div class="o-card__actions o-card__actions--divider">
            <a href="/wiki/8/admin" class="{{ bem_block }}__card-link">
              Подробнее
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="{{ bem_block }}__row">
    <h2 class="{{ bem_block }}__row-title">
      Растите вместе с Drupal
    </h2>

    <div class="{{ bem_block }}__row-description">
      <p>
        Установили Drupal? Круто! Вы уже проделали не малый путь, и определенно узнали что-то новое, но после установки, скорее всего, назрели вопросы: "С чего начать?", "Куда двигаться дальше?" — в этом разделе собран основной арсенал Drupal. Вы не только начнете узнавать всё больше и глубже, но и, мы надеемся, будете улучшать свои навыки.
      </p>
    </div>

    <div class="{{ bem_block }}__row-content">
      <div class="{{ bem_block }}__cards">
        <div class="o-card {{ bem_block }}__card">
          <header class="o-card__header">
            <h5 class="o-card__title {{ bem_block }}__card-title">
              Модули
            </h5>
          </header>

          <div class="o-card__content {{ bem_block }}__card-content">
            <p>Расширяйте, изменяйте и модифицируйте Drupal.</p>
          </div>

          <div class="o-card__actions o-card__actions--divider">
            <a href="/wiki/8/modules" class="{{ bem_block }}__card-link">
              Подробнее
            </a>
          </div>
        </div>

        <div class="o-card {{ bem_block }}__card">
          <header class="o-card__header">
            <h5 class="o-card__title {{ bem_block }}__card-title">
              Темы оформления
            </h5>
          </header>

          <div class="o-card__content {{ bem_block }}__card-content">
            <p>Оформите свой сайт, как вам угодно.</p>
          </div>

          <div class="o-card__actions o-card__actions--divider">
            <a href="/wiki/8/themes" class="{{ bem_block }}__card-link">
              Подробнее
            </a>
          </div>
        </div>

        <div class="o-card {{ bem_block }}__card">
          <header class="o-card__header">
            <h5 class="o-card__title {{ bem_block }}__card-title">
              Маршрутизация
            </h5>
          </header>

          <div class="o-card__content {{ bem_block }}__card-content">
            <p>Создавайте свои собственные страницы, с уникальным поведением.</p>
          </div>

          <div class="o-card__actions o-card__actions--divider">
            <a href="/wiki/8/routing" class="{{ bem_block }}__card-link">
              Подробнее
            </a>
          </div>
        </div>

        <div class="o-card {{ bem_block }}__card">
          <header class="o-card__header">
            <h5 class="o-card__title {{ bem_block }}__card-title">
              Плагины
            </h5>
          </header>

          <div class="o-card__content {{ bem_block }}__card-content">
            <p>Расширяйте и используйте возможности других модулей.</p>
          </div>

          <div class="o-card__actions o-card__actions--divider">
            <a href="/wiki/8/plugins" class="{{ bem_block }}__card-link">
              Подробнее
            </a>
          </div>
        </div>

        <div class="o-card {{ bem_block }}__card">
          <header class="o-card__header">
            <h5 class="o-card__title {{ bem_block }}__card-title">
              Хуки
            </h5>
          </header>

          <div class="o-card__content {{ bem_block }}__card-content">
            <p>Внедряйтесь на различных этапах работы системы, влияйте на поведение и результат.</p>
          </div>

          <div class="o-card__actions o-card__actions--divider">
            <a href="/wiki/8/hooks" class="{{ bem_block }}__card-link">
              Подробнее
            </a>
          </div>
        </div>

        <div class="o-card {{ bem_block }}__card">
          <header class="o-card__header">
            <h5 class="o-card__title {{ bem_block }}__card-title">
              Сервисы
            </h5>
          </header>

          <div class="o-card__content {{ bem_block }}__card-content">
            <p>Создавайте объекты с Dependency Injection.</p>
          </div>

          <div class="o-card__actions o-card__actions--divider">
            <a href="/wiki/8/services" class="{{ bem_block }}__card-link">
              Подробнее
            </a>
          </div>
        </div>

        <div class="o-card {{ bem_block }}__card">
          <header class="o-card__header">
            <h5 class="o-card__title {{ bem_block }}__card-title">
              Библиотеки
            </h5>
          </header>

          <div class="o-card__content {{ bem_block }}__card-content">
            <p>Подключайте JavaScript и CSS на страницы правильно.</p>
          </div>

          <div class="o-card__actions o-card__actions--divider">
            <a href="/wiki/8/libraries" class="{{ bem_block }}__card-link">
              Подробнее
            </a>
          </div>
        </div>

        <div class="o-card {{ bem_block }}__card">
          <header class="o-card__header">
            <h5 class="o-card__title {{ bem_block }}__card-title">
              Формы
            </h5>
          </header>

          <div class="o-card__content {{ bem_block }}__card-content">
            <p>Создавайте формы, валидируйте, изменяйте, расширяйте.</p>
          </div>

          <div class="o-card__actions o-card__actions--divider">
            <a href="/wiki/8/forms" class="{{ bem_block }}__card-link">
              Подробнее
            </a>
          </div>
        </div>

        <div class="o-card {{ bem_block }}__card">
          <header class="o-card__header">
            <h5 class="o-card__title {{ bem_block }}__card-title">
              События
            </h5>
          </header>

          <div class="o-card__content {{ bem_block }}__card-content">
            <p>События позволяют подписываться на различные этапы обработки и реагировать как вам необходимо.</p>
          </div>

          <div class="o-card__actions o-card__actions--divider">
            <a href="/wiki/8/events" class="{{ bem_block }}__card-link">
              Подробнее
            </a>
          </div>
        </div>

        <div class="o-card {{ bem_block }}__card">
          <header class="o-card__header">
            <h5 class="o-card__title {{ bem_block }}__card-title">
              Очереди
            </h5>
          </header>

          <div class="o-card__content {{ bem_block }}__card-content">
            <p>Отложенная обработка больших объемов данных.</p>
          </div>

          <div class="o-card__actions o-card__actions--divider">
            <a href="/wiki/8/queues" class="{{ bem_block }}__card-link">
              Подробнее
            </a>
          </div>
        </div>

        <div class="o-card {{ bem_block }}__card">
          <header class="o-card__header">
            <h5 class="o-card__title {{ bem_block }}__card-title">
              Пакетная обработка данных
            </h5>
          </header>

          <div class="o-card__content {{ bem_block }}__card-content">
            <p>Обработка больших объемов данных с отображением прогресса.</p>
          </div>

          <div class="o-card__actions o-card__actions--divider">
            <a href="/wiki/8/queues" class="{{ bem_block }}__card-link">
              Подробнее
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="{{ bem_block }}__row">
      <div class="{{ bem_block }}__other-items">
        <div class="{{ bem_block }}__other-item">
          <h4 class="{{ bem_block }}__other-item-title">Полезная информация</h4>

          <ul class="{{ bem_block }}__other-item-items">
            <li class="{{ bem_block }}__other-item-item">
              <a href="/wiki/standards">Стандарты кодирования Drupal</a>
            </li>
            <li class="{{ bem_block }}__other-item-item">
              <a href="/wiki/8/releases">Список изменений</a>
            </li>
            <li class="{{ bem_block }}__other-item-item">
              <a href="/wiki/security">Объявления безопасности</a>
            </li>
            <li class="{{ bem_block }}__other-item-item">
              <a href="/wiki/9">Drupal 9</a>
            </li>
          </ul>
        </div>

        <div class="{{ bem_block }}__other-item">
          <h4 class="{{ bem_block }}__other-item-title">CLI утилиты</h4>

          <ul class="{{ bem_block }}__other-item-items">
            <li class="{{ bem_block }}__other-item-item">
              <a href="/wiki/composer">Composer</a>
            </li>
            <li class="{{ bem_block }}__other-item-item">
              <a href="/wiki/drush">Drush</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
