{#
/**
 * @file
 * Default theme implementation to present content TOC.
 *
 * Available variables:
 * - links: The array with link for TOC.
 *
 * @see template_preprocess_druki_content_toc().
 */
#}
{% import _self as toc %}
{% set bem_block = 'druki-content-toc' %}
{# @todo  complete all of it.#}
<div{{ attributes.addClass(bem_block) }}>
  {% set bem_base = bem_block ~ '__' %}
  {% do attributes.removeClass(bem_block) %}
  {{ toc.links(links, attributes, 0, bem_base) }}
</div>

{% macro links(links, attributes, toc_level, bem_base) %}
  {% import _self as toc %}
  {% if links %}
    {% if toc_level == 0 %}
      <ul{{ attributes.addClass([bem_base ? bem_base ~ 'menu']) }}>
        {% for item in links %}
          <li class="{{ bem_base ~ 'menu-item' }}">
            <a href="#{{ item.anchor }}" class="{{ bem_base ~ 'menu-item-link' }}">{{ item.text }}</a>
            {% if item.children %}
              {{ toc.links(item.children, attributes, item.level, bem_base) }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <ul class="{% if bem_base %}{{ bem_base }}submenu{% endif %}">
        {% for item in links %}
          <li class="{{ bem_base ~ 'menu-item' }}">
            <a href="#{{ item.anchor }}" class="{{ bem_base ~ 'menu-item-link' }}" title="{{ item.text }}">{{ item.text }}</a>
            {% if item.children %}
              {{ toc.links(item.children, attributes, item.level + 1, bem_base) }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endif %}
{% endmacro %}
