{#
/**
 * @file
 * Default theme implementation to present druki_content entity edit form.
 *
 * This template is used as layout for druki_content entity edit form
 *
 * Available variables:
 * - form: The render array with Form API elements.
 */
#}
{% set bem_block = 'druki-content-form-layout' %}
<div class="{{ bem_block }}">
  <div class="{{ bem_block }}__main">
    {{ form|without('advanced', 'footer', 'actions') }}
  </div>
  <div class="{{ bem_block }}__advanced">
    {{ form.advanced }}
  </div>
  <div class="{{ bem_block }}__footer">
    {{ form.footer }}
    {{ form.actions }}
  </div>
</div>
