{#
/**
 * @file
 * Default theme implementation to present search result item.
 *
 * Available variables:
 * - attributes: HTML attributes for containing element.
 * - title: The result title.
 * - url: The result URL.
 * - display_url: The URL to show user.
 * - supporting_text: The additional text used as description or extracted
 *   result.
 */
#}
{% set bem_block = 'druki-search-result' %}
<div{{ attributes.addClass('druki-search-result') }}>
  <a href="{{ url }}" class="{{ bem_block }}__link">
    <div class="{{ bem_block }}__title">{{ title }}</div>
    {% if display_url %}
      <div class="{{ bem_block }}__url">{{ display_url }}</div>
    {% endif %}
  </a>
  {% if supporting_text %}
    <div class="{{ bem_block }}__supporting-text">
      {{ supporting_text }}
    </div>
  {% endif %}
</div>
