{#
/**
 * @file
 * Default theme implementation to present search results.
 *
 * Available variables:
 * - attributes: Attributes for main wrapper.
 * - items: An array with items contains:
 *   - label: The result label.
 *   - url: The URL object to result page.
 *   - url_absolute: The string with absolute URL.
 * - pager: The pager element.
 */
#}
<div{{ attributes.addClass('search-results') }}>
  <div class="search-results__items">
    {% for item in items %}
      <a href="{{ item.url }}" class="search-results__item">
        <div class="search-results__item-label">{{ item.label }}</div>
        <div class="search-results__item-url">{{ item.url_absolute }}</div>
      </a>
    {% endfor %}
  </div>

  {% if pager %}
    <div class="search-results__pager">
      {{- pager -}}
    </div>
  {% endif %}
</div>
