{#
/**
 * @file
 * Default theme implementation to present header navigation with branding.
 *
 * Available variables:
 * - attributes: HTML attributes for containing element.
 * - site_logo: The current logo for current theme.
 *
 * @see template_preprocess_druki_header_branding_navigation()
 */
#}
{{ attach_library('druki/header-branding-navigation') }}
<div class="druki-header-branding-navigation">
  <a href="{{ url('<front>') }}" class="druki-header-branding-navigation__link">
    {{ site_logo }}
    <div class="druki-header-branding-navigation__site-name">Druki</div>
  </a>
  <div class="druki-header-branding-navigation__navigation">
    <div class="druki-header-branding-navigation__burger js-header-branding-burger"></div>
    <div class="druki-header-branding-navigation__dropdown js-header-branding-dropdown">
      <div class="druki-header-branding-navigation__menu">
        <div class="druki-header-branding-navigation__group">
          <a href="{{ url('<front>') }}" class="druki-header-branding-navigation__menu-link">Главная</a>
          <a href="{{ url('druki.wiki') }}" class="druki-header-branding-navigation__menu-link">Энциклопедия</a>
          <a href="{{ url('druki.download') }}" class="druki-header-branding-navigation__menu-link">Загрузить Drupal</a>
          <a href="/wiki/drupal" class="druki-header-branding-navigation__menu-link">О Drupal</a>
        </div>

        <div class="druki-header-branding-navigation__group">
          <div class="druki-header-branding-navigation__group-title">Обновления</div>
          <a href="/wiki/9/releases" class="druki-header-branding-navigation__menu-link">Релизы и изменения</a>
          <a href="/wiki/security" class="druki-header-branding-navigation__menu-link">Объявления безопасности</a>
        </div>

        <div class="druki-header-branding-navigation__group">
          <div class="druki-header-branding-navigation__group-title">Сообщество</div>
          <a href="/wiki/community" class="druki-header-branding-navigation__menu-link">Сообщество</a>
          <a href="/wiki/community/resources" class="druki-header-branding-navigation__menu-link">Интернет-ресурсы</a>
          <a href="/wiki/events" class="druki-header-branding-navigation__menu-link">Мероприятия</a>
        </div>
      </div>
    </div>
  </div>
</div>
