{#
/**
 * @file
 * Default theme implementation to present card element.
 *
 * Available variables:
 * - attributes: HTML attributes for containing element.
 * - title: The title
 * - subhead: The subtitle.
 * - description: Additional text or description.
 * - actions: An array with links.
 *
 * @see template_preprocess_druki_card()
 */
#}
{%
  set classes = [
    'druki-card',
    subhead ? 'druki-card--with-subhead',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="druki-card__content">
    {% if title %}
      <div class="druki-card__title">
        {{- title -}}
      </div>
    {% endif %}
    {% if subhead %}
      <div class="druki-card__subhead">
        {{- subhead -}}
      </div>
    {% endif %}
    {% if description %}
      <div class="druki-card__description">
        {{- description -}}
      </div>
    {% endif %}
    {% if actions|length %}
      <div class="druki-card__actions">
        {{- actions -}}
      </div>
    {% endif %}
  </div>
</div>
