{#
/**
 * @file
 * Default theme implementation to present druki /download page.
 */
#}
{% macro card(title, subhead, description, url) %}
  <div class="druki-page-download-card">
    <div class="druki-page-download-card__title">{{ title }}</div>
    {% if subhead %}
      <div class="druki-page-download-card__subhead">{{ subhead }}</div>
    {% endif %}
    <div class="druki-page-download-card__description">
      {{ description }}
    </div>
    {% if url %}
      <div class="druki-page-download-card__actions">
        <a href="{{ url }}" class="button button--primary button--small">{% trans %}Read more{% endtrans %}</a>
      </div>
    {% endif %}
  </div>
{% endmacro %}
<div{{ attributes.addClass('druki-page-download') }}>
  <header class="druki-page-download__head">
    <h2 class="druki-page-download__subtitle">🚀 Всего одна команда отделяет вас от Drupal</h2>

    <div class="druki-page-download__command-pane">
    <span class="druki-page-download__command">
      composer -n create-project drupal/recommended-project <strong>my_new_site</strong>
    </span>
    </div>

    <div class="druki-page-download__command-note">
      <p>Узнайте больше о <a href="/wiki/composer">Composer</a> и шаблонах проектов. Возникли сложности? Обратитесь к <a href="/wiki/9/download">руководству по загрузке</a> и <a href="/wiki/9/installation">руководству по
          установке</a>.</p>
    </div>
  </header>

  <div class="druki-page-download__cards">
    {{ _self.card(
      'Демо-сайт на Drupal',
      'Попробуйте Drupal онлайн.',
      'Самый быстрый способ познакомиться и попробовать Drupal.',
      '/wiki/simplytest',
    ) }}

    {{ _self.card(
      'Следите за обновлениями',
      'Список релиз и изменений.',
      'Не упустите новые возможности Drupal, а также, предоставьте сайту максимальную защиту.',
      '/wiki/9/releases',
    ) }}

    {{ _self.card(
      'Бесплатный, с открытым исходным кодом',
      null,
      'Вы можете использовать Drupal, как для личных, так и для коммерчиских проектов. Никаких отчислений и подписок!'
    ) }}

    {{ _self.card(
      'Исходный код Drupal',
      null,
      'Разработка Drupal ведется открыто и доступна для всех.',
      'https://git.drupalcode.org/project/drupal',
    ) }}

    {{ _self.card(
      'Присоединяйтесь к сообществу',
      null,
      'Мы всегда рады новым лицам в сообществе!',
      '/wiki/community',
    ) }}

    {{ _self.card(
      'Скажите, Привет!',
      null,
      'Подключайтесь к чатам — здесь вам помогут и ответят на интересующие вопросы.',
      '/wiki/community/resources',
    ) }}
  </div>
</div>
