{% set bem_block = 'druki-docs' %}
<div{{ attributes.addClass(bem_block) }}>
  <h1 class="{{ bem_block }}__title">
    Документация Drupal
  </h1>

  <h2 class="{{ bem_block }}__subtitle">
    One page to rule them all.
  </h2>

  <div class="{{ bem_block }}__first-pane">
    <div class="{{ bem_block }}__first-pane-col">
      <h2 class="{{ bem_block }}__first-pane-title">☕️ Начало работы</h2>
      <p>
        <em>Перед началом работы с Drupal, уделите время на изучение основ. Это предоставит базовые знания, и поможет задавать корректные вопросы в сообществе.</em>
      </p>

      <ul class="{{ bem_block }}__list">
        <li><a href="/docs/drupal">Что такое Drupal</a></li>
        <li><a href="/docs/the-drupal-way">Философия Drupal</a></li>
        <li><a href="/docs/code-of-conduct">Нормы поведения</a></li>
        <li><a href="/docs/faq">Часто задаваемые вопросы</a></li>
        <li><a href="/docs/8/installation">Установка Drupal</a></li>
        <li><a href="/docs/8/admin">Знакомство с административным интерфейсом</a></li>
        <li><a href="/docs/composer">Composer</a></li>
        <li><a href="/docs/drush">Drush</a></li>
        <li><a href="/docs/standards">Стандарты Drupal</a></li>
      </ul>
    </div>

    <div class="{{ bem_block }}__first-pane-col">
      <h2 class="{{ bem_block }}__first-pane-title">💡 Прежде чем спрашивать</h2>

      <div class="{{ bem_block }}__before-ask">
        <div>
          <h5 class="{{ bem_block }}__before-ask-title"><a href="/docs/8/themes">Темы оформления</a></h5>
          <div class="{{ bem_block }}__before-ask-description">
            <p>Темы отвечают за визуальную часть сайта.</p>
          </div>
        </div>

        <div>
          <h5><a href="/docs/8/modules">Модули</a></h5>
          <div class="{{ bem_block }}__before-ask-description">
            <p>Расширяйте, изменяйте, и модифицируйте Drupal.</p>
          </div>
        </div>

        <div>
          <h5><a href="/docs/8/plugins">Плагины</a></h5>
          <div class="{{ bem_block }}__before-ask-description">
            <p>Расширяйте функционал модулей или ядра.</p>
          </div>
        </div>

        <div>
          <h5><a href="/docs/8/services">Сервисы</a></h5>
          <div class="{{ bem_block }}__before-ask-description">
            <p>Объекты с грамотным Dependency Injection.</p>
          </div>
        </div>

        <div>
          <h5><a href="/docs/8/hooks">Хуки (hooks)</a></h5>
          <div class="{{ bem_block }}__before-ask-description">
            <p>Внедряйтесь на различных этапах работы системы, и влияйте на поведение и результат.</p>
          </div>
        </div>

        <div>
          <h5><a href="/docs/8/form-api">Form API</a></h5>
          <div class="{{ bem_block }}__before-ask-description">
            <p>Создавайте формы, валидируйте, изменяйте, расширяйте.</p>
          </div>
        </div>

        <div>
          <h5><a href="/docs/8/routing">Маршрутизация</a></h5>
          <div class="{{ bem_block }}__before-ask-description">
            <p>Создавайте страницы с нужным поведением.</p>
          </div>
        </div>

        <div>
          <h5><a href="/docs/8/libraries-api">Libraries API</a></h5>
          <div class="{{ bem_block }}__before-ask-description">
            <p>Подключайте JavaScript и CSS на страницы.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
