{#
/**
 * @file
 * Default theme implementation to present card element.
 *
 * Available variables:
 * - attributes: HTML attributes for containing element.
 * - title: The title
 * - subhead: The subtitle.
 * - description: Additional text or description.
 * - actions: An array with links.
 *
 * @see template_preprocess_druki_card()
 */
#}
{% set block = 'druki-card' %}
{%
  set modifiers = [
    subhead ? 'with-subhead'
  ]
%}
{% set classes = bem(block, null, modifiers) %}
<div{{ attributes.addClass(classes) }}>
  <div class="{{ bem(block, 'content') }}">
    {% if title %}
      <div class="{{ bem(block, 'title') }}">
        {{ title }}
      </div>
    {% endif %}
    {% if subhead %}
      <div class="{{ bem(block, 'subhead') }}">
        {{ subhead }}
      </div>
    {% endif %}
    {% if description %}
      <div class="{{ bem(block, 'description') }}">
        {{ description }}
      </div>
    {% endif %}
    {% if actions|length %}
      <div class="{{ bem(block, 'actions') }}">
        {{ actions }}
      </div>
    {% endif %}
  </div>
</div>
