{% set bem_block = 'frontpage-hero' %}
<div class="{{ bem_block }}">
  {{promo_image}}
  <div class="{{ bem_block }}__content">
    <h1 class="{{ bem_block }}__title">Drupal энциклопедия</h1>
    <div class="{{ bem_block }}__description">Структурированный, свободный и открытый источник информации о Drupal.</div>
    <form action="/search" class="{{ bem_block }}__form">
      <input type="text" class="{{ bem_block }}__search" placeholder="Что вы хотите узнать?" name="text" autocomplete="off">
      <button class="{{ bem_block }}__submit"></button>
    </form>
  </div>
</div>
