{% set bem_block = 'app' %}
<div class="{{ bem_block }}">
  <div class="{{ bem_block }}__header">
    {% include '@loremaster/page/include.top-line.html.twig' %}
    {{ page.header }}
    {{ page.navigation }}
  </div>

  <main{{ main_layout_attributes.addClass(bem_block ~ '__content') }}>
    {% include '@loremaster/page/include.frontpage.html.twig' %}
  </main>

  <div class="{{ bem_block }}__footer">
    {% include '@loremaster/page/include.footer.html.twig' %}
  </div>
</div>
