{{ page.header }}

<main{{ main_layout_attributes }}>
  {{ page.content_header }}
  <div class="main-layout__content">
    {{ page.content }}
    {{ page.sidebar_right }}
  </div>
</main>

{% include '@loremaster/page/include.footer.html.twig' %}
