<div class="app">
  <div class="app__header">
    {{ page.navigation }}
  </div>

  <div class="app__middle">
    <div class="app__header">
      {{ page.header }}
    </div>

    <main{{ main_layout_attributes.addClass(bem_block ~ '__content') }}>
      {{ page.content }}
      {{ page.sidebar_right }}
    </main>
  </div>

  <div class="app__footer">
    {% include '@loremaster/page/include.footer.html.twig' %}
  </div>
</div>
