{# Don't extend becayse bem_block is not inhirit from parent ;( #}
{% set bem_block = bem_block ?: ('paragraph-' ~ paragraph.bundle ~ (view_mode != 'default' ? '-' ~ view_mode))|clean_class %}
{% set classes = [
  bem_block,
  bem_block  ~ '--' ~ paragraph.druki_note_type.value,
] %}
<div{{ attributes.addClass(classes) }}>
  <div class="{{ bem_block }}__left">
    <div class="{{ bem_block }}__icon"></div>
  </div>

  <div class="{{ bem_block }}__content">
    {{ content }}
  </div>
</div>
