{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% set block = block ?? 'branding' %}
{%
  set classes = [
    bem(block),
    block_id == 'mobile_branding' ? bem(block, null, ['mobile']),
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <a href="{{ path('<front>') }}" rel="home" class="{{ bem(block, 'logo') }}">
    <div class="{{ bem(block, 'image') }}">
      {{ source(site_logo) }}
    </div>
    <div class="{{ bem(block, 'name') }}">
      <span>{% trans %}Drupal{% endtrans%}</span>
      <span>{% trans %} Wiki{% endtrans %}</span>
    </div>
  </a>
</div>
