{#
/**
 * @file
 * Default theme implementation to present a druki content entity.
 *
 * This template is used when viewing a registered druki content's page,
 * e.g., /admin/druki/content)/123. 123 being the druki content's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_druki_content()
 */
#}
{% set bem_block = bem_block ?: ('druki-content' ~ (view_mode != 'default' ? '-' ~ view_mode))|clean_class %}
{% set classes = [
  bem_block,
] %}
{{ attach_library('loremaster/component.druki-content') }}
<article{{ attributes.addClass(bem_block) }}>
  {% block content %}
    {% if content.extra_field_edit_remote %}
      <div class="{{ bem(bem_block, 'actions') }}">
        <div class="{{ bem(bem_block, 'action') }}">
          {{ content.extra_field_edit_remote }}
        </div>
      </div>
    {% endif %}

    {% if content %}
      {{- content.document -}}
    {% endif %}

    {% if content.extra_field_next_prev %}
      {{ content.extra_field_next_prev }}
    {% endif %}
  {% endblock %}
</article>
