{% set bem_block = 'frontpage-drupal' %}
<div class="{{ bem_block }}">
  <div class="{{ bem_block }}__description">
    <p><strong>Drupal</strong> — это лидирующая OpenSource платформа, которая знает, что ваш веб-контент должен охватывать не только веб-сайты. Drupal построен таким образом, что вы можете доставлять необходимый контент, нужному человеку, в нужное время - на любом устройстве.</p>
    <p>Если вы только начинаете своё знакомство с веб-разработкой, Drupal предоставит вам бесценный опыт в различных направлениях и технологиях. Вам всегда будет чему научиться и развить свои профессиональные навыки.</p>
    <p>Если же вы опытный разработчик, то Drupal откроет для вас новые горизонты, инструменты, подходы и реализации. Вы познакомитесь со множеством других, очень опытных разработчиков, так как <a href="/wiki/community">Drupal сообщество</a> - очень большое. Drupal стоит попробовать, хотябы потому, что это гибкая, хорошо документированная и стандартизованная система, непрерывно разрабатываемая уже более 18 лет, десятками тысяч разработчиков по всему миру.</p>
    <p>Поскольку у всех нас разные потребности, Drupal позволяет создать уникальное пространство в мире шаблонных решений.</p>
  </div>

  <div class="{{ bem_block }}__video">
    {{ why_drupal_video }}

    <div class="{{ bem_block }}__buttons">
      <a href="/wiki" class="{{ bem_block }}__button">Drupal энциклопедия</a>
      <a href="/download" class="{{ bem_block }}__button">Скачать Drupal</a>
      <a href="/wiki/community/resources" class="{{ bem_block }}__button">Скажите, Привет!</a>
      <a href="https://drupal.dru.io/" class="{{ bem_block }}__button">Промо-сайт</a>
    </div>
  </div>
</div>
