{#
/**
 * @file
 * Default theme implementation to present page header for responsive.
 */
#}
{% set bem_block = 'header-mobile' %}
<div class="{{ bem_block }}">
  <div class="mobile-toggle">
    <div class="mobile-toggle__inner">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <a href="{{ url('<front>') }}" class="{{ bem_block }}__branding">
    Druki
  </a>

  <a href="{{ url('druki_vue.search') }}" class="{{ bem_block }}__search">

  </a>
</div>
