{#
/**
 * @file
 * Default theme implementation to present mobile navigation.
 */
#}
{{ attach_library('roach/mobile_navigation') }}
{% set bem_block = 'mobile-navigation' %}
<div class="{{ bem_block }}">
  <div class="{{ bem_block }}__sidebar">
    <div class="{{ bem_block }}__branding">
      <img
        src="/{{ active_theme_path() }}/logo.svg"
        class="{{ bem_block }}__branding-logo"
        alt="Druplicon"
      >
    </div>

    <ul class="{{ bem_block }}__navigation">
      <li class="{{ bem_block }}__navigation-item">
        <a href="/" class="{{ bem_block }}__navigation-link">Главная</a>
      </li>
      <li class="{{ bem_block }}__navigation-item">
        <a href="/wiki" class="{{ bem_block }}__navigation-link">Энциклопедия</a>
      </li>
      <li class="{{ bem_block }}__navigation-item">
        <a href="/download" class="{{ bem_block }}__navigation-link">Скачать Drupal</a>
      </li>
      <li class="{{ bem_block }}__navigation-item">
        <a href="/wiki/drupal" class="{{ bem_block }}__navigation-link">Узнать о Drupal</a>
      </li>
    </ul>

    <div class="dark-mode-toggle"><span class="dark-mode-toggle__icon"></span></div>
  </div>
</div>
