{% set bem_block = 'druki-title' %}
{% set classes = [
  bem_block,
  links|length ? bem_block ~ '--with-links',
] %}
<div{{ attributes.addClass(classes) }}>
  <div class="{{ bem_block }}__inner">
    {{ drupal_block('system_breadcrumb_block') }}
    <h1 class="{{ bem_block }}__title">{{ title }}</h1>

    {% if links|length %}
      <div class="{{ bem_block }}__links">
        {% for id, link in links %}
          <div class="{{ bem_block }}__links-item">
            <a href="{{ link.url }}"{{ link.attributes.addClass(bem_block ~ '__links-link').addClass(bem_block ~ '__links-link--' ~ id) }}>
              {{ link.label }}
            </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
