{% set bem_block = 'footer' %}
<footer class="{{ bem_block }} app__footer">
  <div class="{{ bem_block }}__inner {{ bem_block }}__top">
    <div class="{{ bem_block }}__copyright">
      {{ 'now'|date('Y') }} &COPY; <strong>Druki</strong>.<br/>
      Drupal — зарегистрированная торговая марка <a href="http://buytaert.net/">Dries Buytaert</a>.<br/>
      Код сайта распространяется под лицензией <a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.ru.html">GPL v2</a>.<br/>
      Содержимое сайта распространяется под лицензией <a href="https://creativecommons.org/licenses/by-sa/3.0/">CCSA 3.0</a>.
    </div>
  </div>

  <div class="{{ bem_block }}__inner {{ bem_block }}__bottom">
    <div class="{{ bem_block }}__some-love">
      Разработано <a href="https://niklan.net/" class="{{ bem_block }}__developer">Niklan</a> с <span class="{{ bem_block }}__heart"></span> на <span class="{{ bem_block }}__drupal">Drupal</span>.
      Исходный код доступен на <a href="https://gitlab.com/druki/website" rel="noopener nofollow" class="{{ bem_block }}__gitlab">GitLab</a>.
    </div>
  </div>
</footer>