{#
/**
 * @file
 * Default theme implementation to present front page resources section.
 */
#}
{% set bem_block = 'frontpage-resources' %}
<div class="{{ bem_block }}">
  <div class="{{ bem_block }}__inner">
    <div class="{{ bem_block }}__download">
      <a href="/download" class="{{ bem_block }}__download-button">
        Скачать
      </a>

      <ul class="{{ bem_block }}__links">
        <li class="{{ bem_block }}__link-item">
          <a href="/wiki/drupal" class="{{ bem_block }}__link">
            Что такое Drupal
          </a>
        </li>
        <li class="{{ bem_block }}__link-item">
          <a href="/wiki/faq" class="{{ bem_block }}__link">
            Часто задаваемые вопросы
          </a>
        </li>
        <li class="{{ bem_block }}__link-item">
          <a href="/wiki/8/changelog" class="{{ bem_block }}__link">
            Список изменений
          </a>
        </li>
      </ul>
    </div>

    <div class="{{ bem_block }}__docs">
      <a href="/wiki" class="{{ bem_block }}__docs-button">
        Энциклопедия
      </a>

      <ul class="{{ bem_block }}__links {{ bem_block }}__links--right">
        <li class="{{ bem_block }}__link-item">
          <a href="/wiki/8/installation" class="{{ bem_block }}__link">
            Установка
          </a>
        </li>
        <li class="{{ bem_block }}__link-item">
          <a href="/wiki/8/admin" class="{{ bem_block }}__link">
            Административный интерфейс
          </a>
        </li>
      </ul>
    </div>

    <div class="{{ bem_block }}__branding">
      <img
        src="/{{ active_theme_path() }}/logo.svg"
        class="{{ bem_block }}__branding-logo"
        alt="Druplicon"
      >

      <div class="{{ bem_block }}__version">
        <div class="{{ bem_block }}__version-label">Drupal</div>
        {% if last_drupal_release %}
          <div class="{{ bem_block }}__version-number">{{ last_drupal_release }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
