{% set bem_block = 'frontpage' %}
<div class="{{ bem_block }}">
  <div class="{{ bem_block }}__promo">
    <div class="{{ bem_block }}__inner">
      <div class="{{ bem_block }}__promo-text">
        <h1 class="{{ bem_block }}__title">
          Drupal энциклопедия
        </h1>

        <div class="{{ bem_block }}__promo-description">
          <p>
            <strong>Drupal</strong> — OpenSource <abbr title="Content Management System">CMS</abbr>\<abbr title="Content Management Framework">CMF</abbr> для разработки как <abbr title="Drupal отвечает как за backend часть, так и за frontend.">full-stack сайтов</abbr>, так и <abbr title="Drupal отвечает только за backend составляющую.">decoupled систем</abbr> любой сложности и масштаба.
          </p>
          <p>
            <strong>Druki</strong> — энциклопедия, посвященная и нацеленная на помощь новичкам в освоении Drupal.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="{{ bem_block }}__resources">
    <div class="{{ bem_block }}__inner {{ bem_block }}__inner--resources">
      <div class="{{ bem_block }}__resources-download">
        <a href="/download" class="{{ bem_block}}__resources-download-button">
          Скачать
        </a>

        <ul class="{{ bem_block }}__resources-links">
          <li class="{{ bem_block }}__resources-link-item">
            <a href="#" class="{{ bem_block }}__resources-link">
              Что такое Drupal
            </a>
          </li>
          <li class="{{ bem_block }}__resources-link-item">
            <a href="#" class="{{ bem_block }}__resources-link">
              Список изменений
            </a>
          </li>
        </ul>
      </div>

      <div class="{{ bem_block }}__resources-docs">
        <a href="/docs" class="{{ bem_block}}__resources-docs-button">
          Документация
        </a>

        <ul class="{{ bem_block }}__resources-links {{ bem_block }}__resources-links--right">
          <li class="{{ bem_block }}__resources-link-item">
            <a href="#" class="{{ bem_block }}__resources-link">
              Руководство по началу работы
            </a>
          </li>
          <li class="{{ bem_block }}__resources-link-item">
            <a href="#" class="{{ bem_block }}__resources-link">
              Установка
            </a>
          </li>
        </ul>
      </div>

      <div class="{{ bem_block }}__resources-branding">
        <div class="{{ bem_block }}__resources-branding-circle">
          <img
            src="/{{ active_theme_path() }}/assets/images/druplicon-vector.svg"
            class="{{ bem_block }}__resources-branding-logo"
            alt="Druplicon"
          >
        </div>

        <div class="{{ bem_block }}__version">
          <div class="{{ bem_block }}__version-label">Drupal</div>
          <div class="{{ bem_block }}__version-number">8.6.13</div>
        </div>
      </div>
    </div>
  </div>
</div>
