{% set bem_block = 'frontpage-promo' %}
<div class="{{ bem_block }}">
  <div class="{{ bem_block }}__inner">
    <div class="{{ bem_block }}__content">
      <h1 class="{{ bem_block }}__title">
        Drupal энциклопедия
      </h1>

      <div class="{{ bem_block }}__description">
        <p>
          <strong>Drupal</strong> — OpenSource <abbr title="Content Management System">CMS</abbr>\<abbr title="Content Management Framework">CMF</abbr> для разработки как <abbr title="Drupal отвечает как за backend часть, так и за frontend.">full-stack сайтов</abbr>, так и <abbr title="Drupal отвечает только за backend составляющую.">decoupled систем</abbr> любой сложности и масштаба.
        </p>
        <p>
          <strong>Druki</strong> — энциклопедия, посвященная и нацеленная на помощь новичкам в освоении Drupal.
        </p>
      </div>
    </div>
  </div>
</div>
