{% set bem_block = 'frontpage-why' %}
{% set pros = {
  'fast': {
    title: 'Быстрый',
    description: 'Drupal имеет продвинутую систему кэширования. Он отлично подходит для высоконагруженных проектов.',
  },
  'secure': {
    title: 'Безопасный',
    description: 'Drupal Security Team постоянно следит за безопасностью экосистемы Drupal. Drupal\'у доверяют свои данные государственные структуры.',
  },
  'extendable': {
    title: 'Расширяемый',
    description: 'Drupal имеет хорошо продуманную архитектуру. Вы можете поменять, практически всё что захотите. А десятки тысяч модулей, помогут достигать цели быстрее и эффективнее.'
  },
  'proven-by-time': {
    title: 'Проверен временем',
    description: 'За плечами Drupal более чем 18-летняя история. Drupal не стоит на месте, постоянно развивается и соответствует всем требованиям современного веба.'
  }
} %}
<div class="{{ bem_block }}">
  <div class="{{ bem_block }}__inner">
    <div class="{{ bem_block }}__content">
      <div class="{{ bem_block }}__left">
        <h2 class="{{ bem_block }}__title">Почему Drupal?</h2>

        <div class="{{ bem_block }}__pros">
          {% for key, info in pros %}
            <div class="{{ bem_block }}__pro">
              <div class="{{ bem_block }}__pro-icon {{ bem_block }}__pro-icon--{{ key }}"></div>
              <div class="{{ bem_block }}__pro-title">{{ info.title }}</div>

              <div class="{{ bem_block }}__pro-description">
                {{ info.description }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="{{ bem_block }}__right">
        {% if why_drupal_video %}
          <div class="{{ bem_block }}__video">
            {{ why_drupal_video }}
          </div>
        {% endif %}

        <a href="https://drupal.dru.io" rel="nofollow noopener" class="{{ bem_block }}__promo-button">
          Промо-сайт
        </a>
      </div>
    </div>
  </div>
</div>
