{% set bem_block = 'header' %}
<header class="{{ bem_block }} app__header">
  <div class="{{ bem_block }}__inner">
    <div class="{{ bem_block }}__branding">
      <a href="{{ url('<front>') }}" class="{{ bem_block }}__branding-name">
        Druki <span>experiment</span>
      </a>
    </div>

    <form action="/search" class="{{ bem_block }}__search">
      <input name="text"
             type="text"
             placeholder="Что почитаем?"
             class="form-control {{ bem_block }}__search-input">
      <span class="{{ bem_block }}__search-icon"></span>
    </form>
  </div>
</header>