{% set bem_block = 'druki-media-remote-video-optimized' %}
<div{{ attributes.addClass(bem_block) }}>
  <div class="{{ bem_block }}__preview">
    <img src="{{ thumbnail_uri|image_style(thumbnail_style) }}" alt="{{ thumbnail_alt }}" class="{{ bem_block }}__thumbnail">

    <div class="{{ bem_block }}__play"></div>

    <div class="{{ bem_block }}__loading">
      <div class="loading-circle">
        <div class="loading-circle__first"></div>
        <div class="loading-circle__second"></div>
      </div>
    </div>
  </div>
</div>
